/* Reset simples */
* {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: radial-gradient(circle at top, #1f2933 0, #050505 60%);
  color: #f5f5f5;
  min-height: 100vh;
}

head {
  background-color: black;
}