:root {
    --bg-main: #121212;
    --bg-card: #1e1e1e;
    --yellow: #ffd600;
    --yellow-dark: #fbc02d;
    --blue: #1976d2;
    --blue-dark: #0d47a1;
    --text-primary: #f5f5f5;
    --text-secondary: #bdbdbd;
    --danger: #ff5252;
    --radius-md: 8px;
    --shadow-soft: 0 8px 20px rgba(0, 0, 0, 0.35);
    --green: #4caf50;
}


/* Navbar */

.navbarToolbar {
    display: flex;
    /* gap: 50%; */
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px 0px 150px;
}


.navbarContainer {
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.logo {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ffd600;
}

.nav-links {
    display: flex;
    direction: column;
    align-items: center;
    background-color: var(--bg-main);
    height: 100%;

}

.nav-links a {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 0.95rem;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    text-align: center;
    transition: color 0.2s, border-color 0.2s;
}

.nav-links a:hover {
    color: var(--yellow);
    border-color: var(--yellow);
}

.navbarBox {
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.5);
    background-Color: "#121212";
}